---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Welcome to Astro.">
  <section>
    {posts.length && posts.map((post) => <Card post={post} />)}
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
</style>
